body {
    font-size: 24px;
}

.container {
    margin: 2rem auto;
    max-width: 40rem;
}

.container--weather {
    border: solid 1px silver;
    border-radius: 4px;
    margin-top: 2rem;
    min-height: 600px;
    max-height: 600px;
    padding: 8px;
    overflow-x: scroll;
}
